<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27967685127-uegell1sargo63g687hq4gfjbbjq6iqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27967685127-uegell1sargo63g687hq4gfjbbjq6iqn</string>
	<key>API_KEY</key>
	<string>AIzaSyA-8nPJWd_5iG-rhdV9i-aoPW_MZrAFzX4</string>
	<key>GCM_SENDER_ID</key>
	<string>27967685127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.babyNames</string>
	<key>PROJECT_ID</key>
	<string>baby-names-tutorial-db-99b39</string>
	<key>STORAGE_BUCKET</key>
	<string>baby-names-tutorial-db-99b39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27967685127:ios:825d9ccc51281f919520a2</string>
	<key>DATABASE_URL</key>
	<string>https://baby-names-tutorial-db-99b39.firebaseio.com</string>
</dict>
</plist>